command-aliases: soulbound

item-requirements:
  soulbound:
    enabled: true
    name: Soulbound
    format:
      main: '&6%state%%name%: %value%'
      value:
        free: Required
        applied: '&f%player%'
  untradeable:
    enabled: true
    name: Trade State
    format:
      main: '&6%state%%name%: %value%'
      value:
        free: Will be untradeable on pickup
        applied: Untradeable

bind-to-player:
  on-item-drop: true
  on-item-pickup: true
  on-item-click: true
  on-item-interact: true

interact:
  allow-drop: true
  drop-on-death: false
  blocked-commands:
  - 'market'
  - 'auc'
  - 'ah'
gui:
  title: '&2&l<&2&nSoulbound&2&l>'
  size: 9
  item-slot: 3
  source-slot: 4
  result-slot: 5
  content:
    filler:
      material: BLACK_STAINED_GLASS_PANE
      skull-hash: ''
      enchanted: false
      name: ''
      lore: []
      slots: 0,1,2,3,4,5,6,7,8
      type: NONE
    accept:
      material: LIME_STAINED_GLASS_PANE
      skull-hash: ''
      enchanted: false
      name: '&2« &aAccept &2»'
      lore:
      - '&7The item will be soulbounded'
      - '&7with you.'
      - ''
      - '&7After that, you can not'
      - '&7trade your item &canymore&7.'
      slots: '8'
      type: ACCEPT
    exit:
      material: RED_STAINED_GLASS_PANE
      skull-hash: ''
      enchanted: false
      name: '&4« &cCancel &4»'
      lore: []
      slots: '0'
      type: EXIT
