command-aliases: magicdust
general:
  actions-apply:
    default:
      target-selectors:
        self:
        - '[SELF]'
      conditions:
        list: []
        actions-on-fail: 'null'
      action-executors:
      - '[PARTICLE_SIMPLE] ~name: SPELL_WITCH; ~offset: 0.25,0.4,0.25; ~speed: 0.2; ~amount: 50; ~target: self;'
      - '[SOUND] ~name: BLOCK_NOTE_BLOCK_BELL; ~target: self;'
  actions-error:
    default:
      target-selectors:
        self:
        - '[SELF]'
      conditions:
        list: []
        actions-on-fail: 'null'
      action-executors:
      - '[SOUND] ~name: ENTITY_VILLAGER_NO; ~target: self;'
item-format:
  name: '%TIER_COLOR%%ITEM_NAME% %ITEM_LEVEL_ROMAN%'
  lore:
  - '&8&m               &f  「 INFO 」  &8&m               '
  - '&7Increases the item success rate.'
  - '&7Amount: &a+%rate-amount%% &7| Capacity: &c%rate-max%%'
  - '%ITEM_CHARGES%'
  - '%ITEM_LORE%'
  - '&8&m         &f  「 REQUIREMENTS 」  &8&m        '
  - '%TARGET_TYPE%'
  - '%TARGET_LEVEL%'
  - '%TARGET_MODULE%'
  - '%TARGET_TIER%'
  - '&8&m              &f  「 USAGE 」  &8&m              '
  - '&7Drag & drop onto item to apply.'
gui:
  paid:
    title: Enchant Rate Improvement
    size: 36
    item-slot: 4
    dust-buttons:
      dust_1_percent:
        material: GLOWSTONE_DUST
        amount: 1
        name: '&e&lAdd 1%'
        lore:
        - '&cCapacity: &4%rate-max%%'
        - '&7'
        - '&6Result: &e%rate-old%% &6-> &a%rate-new%%'
        - '&6Cost: &e$%cost%'
        - '&6You have: &e$%balance%'
        rate-amount: 1
        rate-cost: 150
        rate-max: 80
        slots: 19
        type: NONE
      dust_2_percent:
        material: GLOWSTONE_DUST
        amount: 2
        name: '&e&lAdd 2%'
        lore:
        - '&cCapacity: &4%rate-max%%'
        - '&7'
        - '&6Result: &e%rate-old%% &6-> &a%rate-new%%'
        - '&6Cost: &e$%cost%'
        - '&6You have: &e$%balance%'
        rate-amount: 2
        rate-cost: 300
        rate-max: 80
        slots: 21
        type: NONE
      dust_5_percent:
        material: GLOWSTONE_DUST
        amount: 5
        name: '&e&lAdd 5%'
        lore:
        - '&cCapacity: &4%rate-max%%'
        - '&7'
        - '&6Result: &e%rate-old%% &6-> &a%rate-new%%'
        - '&6Cost: &e$%cost%'
        - '&6You have: &e$%balance%'
        rate-amount: 5
        rate-cost: 750
        rate-max: 80
        slots: 23
        type: NONE
      dust_10_percent:
        material: GLOWSTONE_DUST
        amount: 10
        name: '&e&lAdd 10%'
        lore:
        - '&cCapacity: &4%rate-max%%'
        - '&7'
        - '&6Result: &e%rate-old%% &6-> &a%rate-new%%'
        - '&6Cost: &e$%cost%'
        - '&6You have: &e$%balance%'
        rate-amount: 10
        rate-cost: 1500
        rate-max: 80
        slots: 25
        type: NONE
    content:
      filler_black:
        material: BLACK_STAINED_GLASS_PANE
        name: '&7'
        slots: 2,6,9,18,27,11,20,29,13,22,31,15,24,33,17,26,35
        type: NONE
      filler_yellow:
        material: YELLOW_STAINED_GLASS_PANE
        name: '&7'
        slots: 10,28,12,30,14,32,16,34
        type: NONE
      filler_orange:
        material: ORANGE_STAINED_GLASS_PANE
        name: '&7'
        slots: 1,3,5,7
        type: NONE
      exit:
        material: RED_STAINED_GLASS_PANE
        name: '&cClose & Exit'
        slots: 0,8
        type: EXIT
