command-aliases: extractor
extraction:
  price:
    GEM:
      common: '75.0 * %socket_level%'
      rare: '125.0 * %socket_level%'
    RUNE:
      default: '100'
    ESSENCE:
      default: '100'
  actions-complete:
    default:
      target-selectors:
        self:
        - '[SELF]'
      conditions:
        list: []
        actions-on-fail: 'null'
      action-executors:
      - '[SOUND] ~name: BLOCK_NOTE_BLOCK_BELL; ~target: self;'
  actions-error:
    default:
      target-selectors:
        self:
        - '[SELF]'
      conditions:
        list: []
        actions-on-fail: 'null'
      action-executors:
      - '[SOUND] ~name: ENTITY_VILLAGER_NO; ~target: self;'
item-format:
  name: '%TIER_COLOR%%ITEM_NAME% %ITEM_LEVEL_ROMAN%'
  lore:
  - '&8&m               &f  「 INFO 」  &8&m               '
  - '&7Tier: %TIER_NAME%'
  - '%ITEM_CHARGES%'
  - '%ITEM_LORE%'
  - '&8&m         &f  「 REQUIREMENTS 」  &8&m        '
  - '%TARGET_LEVEL%'
  - '%TARGET_TYPE%'
  - '%TARGET_MODULE%'
  - '%TARGET_TIER%'
  - '&8&m               &f 「 USAGE 」 &8&m               '
  - '&7Drag & Drop onto item to start extracting.'
gui:
  title: '          &4« &lExtraction &r&4»'
  size: 54
  item-slot: 2
  source-slot: 4
  result-slot: 6
  socket-slots: 45,46,47,48,49,50,51,52,53
  socket-name: '&eExtract: &c%name%'
  socket-lore:
  - '&7Socket:        &e%socket%'
  - '&7Cost:           &e%cost%$'
  - '&7You have:     &e%have%$'
  - '&8&m                                      '
  - '&eLeft-Click: &6Result preview'
  - '&eRight-Click: &cExtract'
  socket-types:
    gems:
      material: EMERALD
      skull-hash: ''
      name: '&aExtract Gems'
      lore: []
      slots: '28'
      type: GEM
    runes:
      material: PRISMARINE_SHARD
      skull-hash: ''
      name: '&bExtract Runes'
      lore: []
      slots: '31'
      type: RUNE
    essences:
      material: REDSTONE
      skull-hash: ''
      name: '&cExtract Essences'
      lore: []
      slots: '34'
      type: ESSENCE
  content:
    filler_black:
      material: BLACK_STAINED_GLASS_PANE
      skull-hash: ''
      enchanted: false
      name: ''
      lore: []
      slots: 0,1,3,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44
      type: NONE
    filler_yellow:
      material: YELLOW_STAINED_GLASS_PANE
      skull-hash: ''
      enchanted: false
      name: ''
      lore: []
      slots: 3,5
      type: NONE
    filler_orange:
      material: ORANGE_STAINED_GLASS_PANE
      skull-hash: ''
      enchanted: false
      name: ''
      lore: []
      slots: 10,11,12,13,14,15,16,19,22,25
      type: NONE
